# Load initial packages

In [1]:
from preprocess import PreProcess, Scale, processNew
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Raw Data

In [2]:
raw = pd.read_csv('diabetic_data.csv')
raw.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

# Processed data

In [4]:
df = PreProcess(raw).processed()
df

,Other,Asian,AfricanAmerican,Hispanic,Caucasian,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,diabetesMed,readmitted
0,0.0,0.0,1.0,0.0,0.0,1,1,1,41,0,1,0,0,0,1,0,0
1,0.0,0.0,1.0,0.0,0.0,1,2,3,59,0,18,0,0,0,9,1,0
2,0.0,0.0,0.0,0.0,1.0,1,3,2,11,5,13,2,0,1,6,1,0
3,0.0,0.0,1.0,0.0,0.0,0,4,2,44,1,16,0,0,0,7,1,0
4,0.0,0.0,1.0,0.0,0.0,0,5,1,51,0,8,0,0,0,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,0.0,0.0,0.0,0.0,1.0,0,8,3,51,0,16,0,0,0,9,1,0
101762,0.0,0.0,0.0,0.0,1.0,1,9,5,33,3,18,0,0,1,9,1,0
101763,0.0,0.0,1.0,0.0,0.0,0,8,1,53,0,9,1,0,0,13,1,0
101764,0.0,0.0,1.0,0.0,0.0,1,9,10,45,2,21,0,0,1,9,1,0
101765,0.0,0.0,1.0,0.0,0.0,0,8,6,13,3,3,0,0,0,9,0,0

# Check for null values

In [5]:
df.columns[df.isna().any()].tolist()

[]

# Split into test/train, optional oversample to balance data

In [6]:
train, test = np.split(df.sample(frac=1), [int(0.75*len(df))])

train, X_train, y_train = Scale(train, scale=False, oversample=False)
test, X_test, y_test = Scale(test, scale=False, oversample=False)

# Decision tree with and without Grid search hyperparameter tuning

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix

model = DecisionTreeClassifier()

params = {'max_leaf_nodes': list(range(2, 100)), 'min_samples_split': [2, 3, 4]}

clf = GridSearchCV(model, param_grid=params, cv=3, verbose=1)
clf.fit(X_train, y_train)
clf.best_estimator_
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

y_pred = dtc.predict(X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

In [ ]:
X_test[0]

# Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

log_model = LogisticRegression(max_iter=5000)

log_model.fit(X_train, y_train)
y_pred = log_model.predict(X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

# K nearest neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

knn_model = KNeighborsClassifier(n_neighbors=10)
knn_model.fit(X_train, y_train)
y_pred = knn_model.predict(X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

# Random forest classifer with and without hyperparameter tuning

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
from sklearn.metrics import confusion_matrix, classification_report

rf = RandomForestClassifier()

param_dist = {'n_estimators': randint(50,500),
              'max_depth': randint(1,20)}

rand_search = RandomizedSearchCV(rf, 
                                 param_distributions = param_dist, 
                                 n_iter=5, 
                                 cv=5)

np.random.shuffle(X_train)
np.random.shuffle(y_train)
rand_search.fit(X_train[:10000], y_train[:10000])
y_pred = rand_search.predict(X_test)

best_rf = rand_search.best_estimator_

print('Best hyperparameters:',  rand_search.best_params_, best_rf)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))